.ipynb_checkpoints
*.pyc
.DS_Store
/data/raw_data/vectorian_cache/embeddings
/data/raw_data/sentence_transformers/sbert.net_models_paraphrase-distilroberta-base-v1.zip
/data/raw_data/sentence_transformers/sbert.net_models_paraphrase-distilroberta-base-v1
/data/raw_data/numberbatch-19.08-en-pca-50.zip
